@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Flashcard applikasjon</h1>
    <p>Logg inn og gjør studietiden din til en lek ved å legge til, endre og fjerne dine helt egne flashcards! </p>
</div>
